@import 'styles/constants/base.scss';

.container {
}

.userContainer {
  width: 100%;
  padding: $sidePadding;
  padding-top: 1rem;
  padding-bottom: 0;
  border-radius: 0 0 10px 10px;

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }
}

.userButtonsContainer {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.userButtons {
  margin-right: 1rem;
}

.storesContainer {
  width: 100%;
  margin-top: 1rem;
}

.newStoreButton {
  margin-bottom: 1rem;
  width: calc(100% - 2 * $sidePadding);
  margin-left: $sidePadding;
}
