@import 'styles/constants/base.scss';

.container {
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  width: 100%;
  margin-top: 1rem;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

$previewSize: 8rem;
.previewContainer {
  width: $previewSize;
  height: $previewSize;
  border: 1px solid black;
  align-self: center;
  margin-bottom: 1rem;
}

.previewImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cropContainer {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100vh;
}
