@import 'styles/constants/base.scss';

.button {
  width: 100%;
  text-align: center;
  border: 0;
  border-radius: 5px;
  background-color: $colorA;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
  -webkit-box-shadow: 5px 5px 0px 0px $colorAShadow,
    5px 5px 11px 5px rgba(94, 117, 255, 0);
  box-shadow: 5px 5px 0px 0px $colorAShadow,
    5px 5px 11px 5px rgba(5, 43, 255, 0);
}

.alternative {
  background-color: white;
  color: black;
}

.mini {
  width: auto;
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
  min-width: 6rem;
}
