@import 'styles/constants/base.scss';

.container {
}

.infoContainer {
  width: 100%;
  padding: 0 $sidePadding;
  margin-top: 0.8rem;
  overflow: hidden;
}

.storeName,
.sellerName {
  font-weight: bold;
}

.price {
  background-color: black;
  color: white;
  width: fit-content;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  margin-top: 0.3rem;
  font-size: 1.2rem;
}

.description {
  margin-top: 0.8rem;
  max-width: fit-content;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.actionContainer {
  position: fixed;
  z-index: 1;
  bottom: $sidePadding;
  width: 100%;
  padding: 0 $sidePadding;
}

@media screen and (min-width: $breakpointMobile) {
  .actionContainer {
    width: calc($breakpointMobile - $sidePadding);
  }
}

.status {
  font-weight: bold;
  font-size: large;
}
