@import 'styles/constants/base.scss';

.textArea {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0;
  font-family: $fontA, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  min-height: 7rem;
  border: 1px solid $fadeGray;
}
