@import 'styles/constants/base.scss';

.container,
.placeholder {
  height: $headerHeight;
  width: 100vw;
}

@media screen and (min-width: $breakpointMobile) {
  .container,
  .placeholder {
    width: $breakpointMobile;
  }
}

$iconSize: 1.3rem;
.container {
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid $fadeGray;
  padding: $sidePadding;
  display: grid;
  grid-template-columns: $iconSize auto $iconSize;
  align-items: center;
}

.backIcon {
  height: $iconSize;
  width: $iconSize;
  cursor: pointer;
}

.title {
  font-size: large;
  font-weight: bold;
  text-align: center;
}
