@import 'styles/constants/base.scss';

.container {
  width: 100%;
  padding: $sidePadding;
  border-radius: 10px;
  margin-top: 1rem;
}

.styledInput {
}

.explainP {
  margin-top: 0.5rem;
  color: gray;
  margin-bottom: 1.5rem;
}

.titleContainer {
  margin-bottom: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  color: gray;
}

.actionContainer {
  position: fixed;
  z-index: 1;
  bottom: $sidePadding;
  width: 100%;
  padding: 0 $sidePadding;
  left: 0;
}

@media screen and (min-width: $breakpointMobile) {
  .actionContainer {
    width: calc($breakpointMobile - $sidePadding);
  }
}
