@import 'styles/constants/base.scss';

.container {
}

.title {
  margin-top: 1rem;
  text-align: center;
}

.subtitle {
  margin-top: 0.5rem;
}

.googleButton {
  margin-top: 1rem;
}

.googleImg {
  height: 4rem;
}

.hero {
  width: calc(100% - 2 * $sidePadding);
}

.learnText {
  margin-top: 0.5rem;
}
