@import 'styles/constants/base.scss';

.desktopContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto $breakpointMobile auto;
}

.desktopMain {
  width: $breakpointMobile;
  // border: 0.0625rem gray solid;
  border-top: 0;
  border-bottom: 0;
  -webkit-box-shadow: 0px 5px 40px 3px rgba(204, 204, 204, 0.5);
  box-shadow: 0px 5px 40px 3px rgba(204, 204, 204, 0.5);
}

.mobileMain {
  width: 100%;
}

.mobileMain,
.desktopMain {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 5rem;
}
