@import 'styles/constants/base.scss';

.container {
}

.topContainer {
  width: 100%;
  padding: $sidePadding;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.ownerInfoText {
}

.isUserContainer {
  width: 100%;
  margin-top: 0.5rem;
}

.userButton {
  margin-right: 0.5rem;
}

.ownerName {
  font-weight: bold;
  font-size: 1.1rem;
}

.descriptionContainer {
  margin-top: 1rem;
  width: calc(100% - 2 * $sidePadding);
}

.actionContainer {
  position: fixed;
  z-index: 1;
  bottom: $sidePadding;
  width: 100%;
  padding: 0 $sidePadding;
}

@media screen and (min-width: $breakpointMobile) {
  .actionContainer {
    width: calc($breakpointMobile - $sidePadding);
  }
}

.ctaLink {
  align-self: flex-start;
  margin-left: $sidePadding;
  margin-top: 1rem;
}
