@import 'styles/constants/base.scss';

.container {
}

.topContainer {
  width: 100%;
  padding: 2 * $sidePadding;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0 0 10px 10px;
  background-color: $colorA;
  color: white;
}

.ownerInfoText {
}

.ownerName {
  font-weight: bold;
  font-size: 1.1rem;
}

.descriptionContainer {
  margin-top: 1rem;
  width: calc(100% - 2 * $sidePadding);
  padding-bottom: 0.5rem;
}
