@import 'styles/constants/base.scss';

$rightWidth: 2rem;
.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid black;
  border-width: 0;
  border-bottom-width: 1px;

  p {
    font-size: 1.2rem;
  }
}

.container:first-child {
  border-top-width: 1px;
}

.leftContainer {
  padding: 1rem 0.5rem;
  cursor: pointer;
  width: auto;
  flex-grow: 1;
}

.rightContainer {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

$iconSize: 0.6 * $rightWidth;
.editIcon {
  width: $iconSize;
  height: $iconSize;
}

.newText {
  opacity: 0.7;
}
