@import 'styles/constants/base.scss';

$rightWidth: 2rem;
.container {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.5);
  display: grid;
  grid-template-columns: auto $rightWidth;
}

.leftContainer {
  padding: 1rem 0.5rem;
  cursor: pointer;
}

.rightContainer {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
}

.editIcon {
  height: $rightWidth -1rem;
  height: $rightWidth - 1rem;
}
